In [1]:
'''A tuple is an ordered pair similar to a list in python. It is more restricted than a list'''

'A tuple is an ordered pair similar to a list in python. It is more restricted than a list'

In [2]:
'''In the sense that, we cannot change the values of a tuple once assigned'''

'In the sense that, we cannot change the values of a tuple once assigned'

In [3]:
x=(1,2,3)

In [4]:
print(id(x))
print(type(x))
print(x)

1595452240376
<class 'tuple'>
(1, 2, 3)

In [5]:
'''The use of parantheses is optional but is a good practice to use them'''

'The use of parantheses is optional but is a good practice to use them'

In [6]:
x=()
print(x)

()

In [7]:
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [8]:
'''The datatypes inside tuple can be an int, float, string, list, tuple , set , dictionary etc.'''

'The datatypes inside tuple can be an int, float, string, list, tuple , set , dictionary etc.'

In [9]:
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
x=my_tuple
print(x[0])

mouse

In [10]:
print(x[1],"\n",x[2])

[8, 4, 6]
 (1, 2, 3)

In [11]:
print(x[2][2],x[1][1])

3 4

In [12]:
x=3,4,"Aashish"
print(type(x))

<class 'tuple'>

In [13]:
print(id(x))

1595452055624

In [15]:
'''There no restriction on using the parantheses.This is known as tuple packing.'''

'There no restriction on using the parantheses.This is known as tuple packing.'

In [16]:
print(x[2])

Aashish

In [17]:
a,b,c=x
print(a)
print(b)
print(c)

3
4
Aashish

In [18]:
'''We mapped all the elements of x one by one to the vars on LHS'''

'We mapped all the elements of x one by one to the vars on LHS'

In [19]:
x=("Aashish")
print(id(x))
print(type(x))

1595451089560
<class 'str'>

In [20]:
x=("Aashish",)
print(id(x))
print(type(x))

1595452348848
<class 'tuple'>

In [21]:
x="Aashish"
print(type(x))

<class 'str'>

In [22]:
x="Aashish",
print(type(x))

<class 'tuple'>

In [23]:
'''There must be a trailing comma in case we want to create a tuple with one element otherwise it will be treated like the 
   datatype of that element'''

'There must be a trailing comma in case we want to create a tuple with one element otherwise it will be treated like the \n   datatype of that element'

In [26]:
'''Properties of tuples:
    1. ordered pair
    2. immutable i.e values cannot be changed
    3. supports indexing (Hence, elements can be accessed)'''

'Properties of tuples:\n    1. ordered pair\n    2. immutable i.e values cannot be changed\n    3. supports indexing (Hence, elements can be accessed)'

In [27]:
'''2 types of errors can occur while accessing tuple elements:
   1. Index error - when index beyond the index of last element is used to acess the elements
   2. Type error- when index is not of int type'''

'2 types of errors can occur while accessing tuple elements:\n   1. Index error - when index beyond the index of last element is used to acess the elements\n   2. Type error- when index is not of int type'

In [28]:
'''Negative indexing'''
print(x)

('Aashish',)

In [29]:
x=(a, "Aashish", 2.5)
print(x[-1])

2.5

In [30]:
print(x[-2])

Aashish

In [31]:
print(x[9])

IndexError: tuple index out of range

In [32]:
print(x[1.0])

TypeError: tuple indices must be integers or slices, not float

In [33]:
x[2]="Kumar"

TypeError: 'tuple' object does not support item assignment

In [34]:
'''TypeError: 'tuple' object does not support item assignment'''

"TypeError: 'tuple' object does not support item assignment"

In [35]:
"""Slicing of tuples"""

'Slicing of tuples'

In [36]:
'''We can acess a range of items in a tuple by using the slicing operator i.e. ":"'''

'We can acess a range of items in a tuple by using the slicing operator i.e. ":"'

In [37]:
'''We can acess a range of items in a tuple by using the slicing operator i.e. ':' '''

"We can acess a range of items in a tuple by using the slicing operator i.e. ':' "

In [38]:
x = ('p','r','o','g','r','a','m','i','z')
print(x)

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [39]:
print(x[1:4])

('r', 'o', 'g')

In [40]:
'''Last index is exclusive'''

'Last index is exclusive'

In [41]:
print(x[:-7])
'''Again last element is exclusive'''

('p', 'r')

'Again last element is exclusive'

In [42]:
print(x[7:])

('i', 'z')

In [43]:
'''IMP'''
print(x[5:-7])

()

In [44]:
print(x[:])

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [45]:
'''If the datatypes inside a tuple are mutable , then it's elements can be changed but not the tuple(parent) itself.'''

"If the datatypes inside a tuple are mutable , then it's elements can be changed but not the tuple(parent) itself."

In [46]:
'''But obv tuples can be reassigned like this.'''
x="Aashish",
print(type(x))
print(x)

<class 'tuple'>
('Aashish',)

In [47]:
'''We can use concatenation operator to combine 2 or more tuples'''
x=1,2,3
y=3,4,5
print(x+y)

(1, 2, 3, 3, 4, 5)

In [48]:
'''Note that redundant elements are also kept.'''

'Note that redundant elements are also kept.'

In [49]:
z=x+y
print(z)

(1, 2, 3, 3, 4, 5)

In [50]:
v="Aashish",
print(v*3)

('Aashish', 'Aashish', 'Aashish')

In [51]:
print(id(z))

1595452684328

In [52]:
print(id(v*3))

1595452078408

In [53]:
print(id(v*3))

1595452212064

In [54]:
v= "Aashish", "Kumar", 22
print(id(v))
print(v*3)

1595452705816
('Aashish', 'Kumar', 22, 'Aashish', 'Kumar', 22, 'Aashish', 'Kumar', 22)

In [55]:
'''Note: Both '+' and '*' result in a new tupple'''

"Note: Both '+' and '*' result in a new tupple"

In [56]:
'''Since, tuples are immutable, the value of their elements cannot be changed. This also means we cannot delete or remove 
   items froma tuple'''
del v[1]

TypeError: 'tuple' object doesn't support item deletion

In [57]:
'''But we can delete the whole tuple'''
del v

In [58]:
print(v)

NameError: name 'v' is not defined

In [59]:
'''Tuple membership test'''
'''Using in and notin operator'''

'Using in and notin operator'

In [60]:
x=('a','p','p','l','e',)
print('p' in x)

True

In [61]:
print('x' not in x)

True

In [62]:
print('e' not in x)

False

In [63]:
'''Iterating through a tuple'''

'Iterating through a tuple'

In [64]:
print(x)

('a', 'p', 'p', 'l', 'e')

In [66]:
for alpha in x:
    print("This is", alpha)

This is a
This is p
This is p
This is l
This is e

In [67]:
'''IMP points:
   1. We generally use tuple for heterogeneous (different) datatypes and list for homogeneous (similar) datatypes.
   2. Since tuples are immutable, iterating through tuple is faster than with list. So there is a slight performance boost.
   3. Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
   4. If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.'''

"IMP points:\n   1. We generally use tuple for heterogeneous (different) datatypes and list for homogeneous (similar) datatypes.\n   2. Since tuples are immutable, iterating through tuple is faster than with list. So there is a slight performance boost.\n   3. Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.\n   4. If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected."

In [68]:
'''DEL keyword'''

'DEL keyword'

In [69]:
x= ('a', 'p', 'p', 'l', 'e')
y= [1,2,3,4,5,6,7,8,9,0]
print(x,y)

('a', 'p', 'p', 'l', 'e') [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [70]:
print(x,"\n",y)

('a', 'p', 'p', 'l', 'e')
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [71]:
id (x)

1595451421008

In [72]:
id(y)

1595452929096

In [73]:
del x[:2]

TypeError: 'tuple' object does not support item deletion

In [74]:
del x

In [75]:
print(x)

NameError: name 'x' is not defined

In [76]:
del y[:6]

In [78]:
print(y)

[7, 8, 9, 0]

In [79]:
id(y)

1595452929096

In [80]:
'''Note when changes such as this is made inplace, the id remains the same'''

'Note when changes such as this is made inplace, the id remains the same'

In [81]:
person= {'Name':'Sam','Age':25,'Profession':'Programmer'}
del person['Profession']
print(person)

{'Name': 'Sam', 'Age': 25}

In [82]:
'''Similar is the case with dictionary'''

'Similar is the case with dictionary'

In [84]:
'''But we cannot delete items of tuples or strings as they are mutable. We can delete an entire tuple or a string.'''

'But we cannot delete items of tuples or strings as they are mutable.'

In [85]:
'''DEL keyword can be used with the : operator for deleting using slicing'''

'DEL keyword can be used with the : operator for deleting using slicing'

In [1]:
x=(1,2,3,2)
print(x[2])

3

In [2]:
x[1]=4

TypeError: 'tuple' object does not support item assignment

In [3]:
'''Hence tuples cannot be modifies once created'''

'Hence tuples cannot be modifies once created'

In [4]:
'''Tuples are immutable.'''

'Tuples are immutable.'

In [6]:
'''Tuples are used to write-protect data and are usually faster than list as it cannot change dynamically.'''

'Tuples are used to write-protect data and are usually faster than list as it cannot change dynamically.'

In [7]:
x=(1,2,3,4)
print(type(x))

<class 'tuple'>

In [8]:
del x[2]

TypeError: 'tuple' object doesn't support item deletion

In [9]:
# TESTING COMPARISON OPERATOR ON TUPLES
a=(5,6)
b=(1,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

a is bigger

In [10]:
'''Comparison starts with a first element of each tuple. In this case 5>1, so the output a is bigger'''

'Comparison starts with a first element of each tuple. In this case 5>1, so the output a is bigger'

In [11]:
a=(5,6)
b=(5,4)
if (a>b):print("a is bigger")
else: print ("b is bigger")

a is bigger

In [12]:
'''Comparison starts with a first element of each tuple. In this case 5>5 which is inconclusive. 
   So it proceeds to the next element. 6>4, so the output a is bigger'''

'Comparison starts with a first element of each tuple. In this case 5>5 which is inconclusive. \n   So it proceeds to the next element. 6>4, so the output a is bigger'

In [13]:
a=(5,6)
b=(6,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

b is bigger

In [14]:
''' Comparison starts with a first element of each tuple. In this case 5>6 which is false. 
    So it goes into the else loop prints "b is bigger."'''

' Comparison starts with a first element of each tuple. In this case 5>6 which is false. \n    So it goes into the else loop prints "b is bigger."'

In [15]:
#DEFINITION OF HASHABLE IN PYTHON
'''In python it means that the object can be members of sets in order to return a index. That is, they have unique identity/ id.
   For example, in python 3.3: the data structure Lists are not hashable but the data structure Tuples are hashable.'''

'In python it means that the object can be members of sets in order to return a index. That is, they have unique identity/ id.\n   For example, in python 3.3: the data structure Lists are not hashable but the data structure Tuples are hashable.'

In [16]:
#On HASHABILITY
'''Tuples are not always hashable in Python, because tuples may hold references to unhashable objects such as lists or dicts. \
   A tuple is only hashable if all of its items are hashable as well.'''

'Tuples are not always hashable in Python, because tuples may hold references to unhashable objects such as lists or dicts.    A tuple is only hashable if all of its items are hashable as well.'