In [14]:
# COMPARISON OPERATOR ON COLLECTIONS

In [15]:
3<3

False

In [16]:
3<3.0

False

'Aashish'<'aashish'

In [17]:
'''This one results in True because when comparing strings, their ASCII values are compared. The ASCII value for ‘A’ is 65, 
   but that for ‘a’ is 97. Hence, ‘A’ is lesser than ‘a’.'''

'This one results in True because when comparing strings, their ASCII values are compared. The ASCII value for ‘A’ is 65, \n   but that for ‘a’ is 97. Hence, ‘A’ is lesser than ‘a’.'

In [18]:
0.999999<True

True

In [19]:
(1,2,3)<(1,2,3,4)

True

In [20]:
(1,2,3,)>(1,)

True

In [21]:
'Aashish'<'aashish'

True

In [22]:
(1,3,2)<(1,2,3)

False

In [23]:
(1,2,3)<(1,3,2)

True

In [24]:
()<(0,)

True

In [25]:
(1,2)<('One','Two')

TypeError: '<' not supported between instances of 'int' and 'str'

In [26]:
(1,2)<('True','False')

TypeError: '<' not supported between instances of 'int' and 'str'

In [27]:
(1,2)<(True,False)

False

In [28]:
(1,'One')<(2,'Two')

True

In [29]:
(1,'One')<('Two',2)

TypeError: '<' not supported between instances of 'int' and 'str'

In [30]:
'''Finally, these work on lists, and set, but not dictionaries.'''

'Finally, these work on lists, and set, but not dictionaries.'

In [31]:
[0]<[False]

False

In [32]:
[]<[0]

True

In [33]:
[]<()

TypeError: '<' not supported between instances of 'list' and 'tuple'

In [34]:
{1,2,3}<{1,3,2}

False

In [35]:
'''because the other set rearranges itself to {1,2,3}, the two sets are equal. Consequently, it returns False.'''

'because the other set rearranges itself to {1,2,3}, the two sets are equal. Consequently, it returns False.'

In [36]:
 {1:'one',2:'two'}<{1:'three',2:'four'}

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [37]:
 3,4,5>3,4,5.0

(3, 4, True, 4, 5.0)

In [38]:
'''This created a tuple, when all we wanted to do was compare. This is because it took 5>3 as a value (True). 
   It put this as a value in the tuple. So let’s try to find our way around this.'''

'This created a tuple, when all we wanted to do was compare. This is because it took 5>3 as a value (True). \n   It put this as a value in the tuple. So let’s try to find our way around this.'

In [39]:
3,4,5 > 3,4,5.0

(3, 4, True, 4, 5.0)

In [40]:
 3,4,5>(3,4,5.0)

TypeError: '>' not supported between instances of 'int' and 'tuple'

In [41]:
(3,4,5)>(3,4,5.0)

False

In [42]:
(3,4,5)>=(3,4,5.0)

True

In [43]:
 from math import pi
 3.14>=pi

False

In [44]:
print(pi)

3.141592653589793

In [45]:
3=='3'

False

In [46]:
{1,3,2}=={1,2,3}

True

In [47]:
0==False

True

In [48]:
3!=3.0

False

In [49]:
3==3.0

True