In [1]:
x=['q',1,2]
print(x)

['q', 1, 2]

In [2]:
print(type(x))

<class 'list'>

In [3]:
print(id(x))

3062781120904

In [4]:
y=tuple(x)
print(y)
print(type(y))
print(id(y))

('q', 1, 2)
<class 'tuple'>
3062781264736

In [5]:
print(y)

('q', 1, 2)

In [6]:
print(type(y))

<class 'tuple'>

In [7]:
z=list(y)
print(z)
print(type(z))
print(id(z))

['q', 1, 2]
<class 'list'>
3062781256008

In [8]:
print(y)

('q', 1, 2)

In [9]:
a=str(y)
print(a)
print(type(a))

('q', 1, 2)
<class 'str'>

In [10]:
s="Aashish"
print(tuple(s))

('A', 'a', 's', 'h', 'i', 's', 'h')

In [11]:
print(list(s))

['A', 'a', 's', 'h', 'i', 's', 'h']

In [12]:
print(set(s))

{'i', 'A', 'h', 'a', 's'}

In [13]:
#TUPLE TO STRING TYPECASTING
t=('a','a','s','h','i','s','h')
print(t)
print(type(t))
print(id(t))

('a', 'a', 's', 'h', 'i', 's', 'h')
<class 'tuple'>
3062779459272

In [14]:
s=str(t)

In [15]:
print(s)
print(type(s))
print(id(s))

('a', 'a', 's', 'h', 'i', 's', 'h')
<class 'str'>
3062781334872

In [16]:
st="aashish"
print(st)
print(type(st))
print(id(st))

aashish
<class 'str'>
3062781351448

In [24]:
t=(1,'a')
print(type(t))
print(t)

<class 'tuple'>
(1, 'a')

In [25]:
s=str(t)
print(type(s))
print(s)

<class 'str'>
(1, 'a')